<%= csrf_meta_tags %>

<h1>Connexion</h1>
<a href="/pages/home"></a>
<form method="POST" action="/pages/connect">
<div>
  <label>First name:</label> :
  <input type="text" name="nom" />
</div>
<div>
  <label>Last name:</label> 
  <input type="text" name="prenom" /> 
</div>
<div>
  <label>CIN:</label> 
  <input type="text" name="cin" />
</div>
  <input type="submit" value="Se connecter" />
<div>

</form>

